__pycache__
data
figures
plots
result
result_old
nn_bash_scripts
*.txt
*.h5
*.hdf5
*.pkl
*.pickle
*.npz
*.npy
*.gif
*.mp4
*.png
*.pdf
__pycache__/
.ipynb_checkpoints/
TestingAndDebugNotebook.ipynb
result_old_051v
